<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website主页</title>
<!--  <link rel="stylesheet" href="styles.css"> &lt;!&ndash; 引入样式表 &ndash;&gt;-->
</head>

<body>
 <h1 style=" color:rgb(100,14,200) ,text-align:left">Welcome to Django Learning Page</h1>
 <hr>
  <header>
    <nav>
      <ul>
        <li><a href="https://www.baidu.com/?tn=62095104_25_oem_dg&ch=4">百度一下</a></li>
        <li><a href="/admin/">admin管理员用户平台</a></li>
        <li><a href="/App/index01">用户信息平台</a></li>
        <li><a href="https://www.bilibili.com/">bilbil平台</a></li>
        <li><a href="/App/index03">DjangoTemplates语言</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="hero">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a velit lacus. Sed vestibulum, augue
        et auctor varius, arcu justo suscipit leo, a tempus ligula dolor ut lacus.</p>
      <a href="#" class="btn">Learn More</a>
    </section>

    <section id="about">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a velit lacus. Sed vestibulum, augue
        et auctor varius, arcu justo suscipit leo, a tempus ligula dolor ut lacus.</p>
    </section>

    <section id="services">
      <h2>Our Services</h2>
      <ul>
        <li>Web Design</li>
        <li>Graphic Design</li>
        <li>Digital Marketing</li>
        <li>App Development</li>
      </ul>
    </section>

    <section id="contact">
      <h2>Contact Us</h2>
      <form action="#" method="post">
        <input type="text" name="name" placeholder="Your Name">
        <input type="email" name="email" placeholder="Your Email">
        <input name="message" placeholder="Your Message">
        <input type="submit" value="Submit">
      </form>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 My Website 失心.</p>
  </footer>
</body>

</html>