/* 设置全局样式 */
/* 设置全局样式 */
body {
  font-family: Arial, sans-serif;
  font-style:italic
  margin: 0;
  padding: 0;
}

/* 设置浅蓝色背景 */
body {
  background-color:;
}

/* 样式化导航栏 */
nav {
  background-color: #b3e5fc;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  color: #000;
}

/* 样式化页面主要内容区块 */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  color: #333;
}

h2 {
  font-size: 20px;
  color: #333;
}

p {
  color: #666;
}

/* 样式化页脚 */
footer {
  background-color: #b3e5fc;
  padding: 10px;
  text-align: center;
  color: #666;
}